<head>
    <title>Metronome</title>
</head>

<body>
    {{> loginButtons}}
    <br/><br/>
    {{> main}}
</body>

<template name="main">
    {{> libraryPieces}}

    <br/><br/>

    {{#if currentUserTEMPPPPPPPPPPPPPPPPPPPPPPP}}
        {{> pieces}}
    {{/if}}

    <br/><br/>

    <button id="start" disabled={{isStartButtonDisabled}}>Start</button>
    <button id="stop" disabled={{isStopButtonDisabled}}>Stop</button>

    <br/><br/>

    {{#if isPieceSelected}}
        {{> status}}
        <br/><br/>
        {{> setting}}
    {{/if}}

</template>

<template name="libraryPieces">
    Library <button id="import" disabled={{isImportButtonDisabled}}>Import</button>
    <br/>
    <select id="libraryPieceList" disabled={{isLibraryPieceListDisabled}}>
        {{#each cursorOnLibraryPieces}}
            <option value={{_id}}>{{displayString}}</option>
        {{/each}}
    </select>
</template>

<template name="pieces">
    My Pieces <button id="deleteCurrentPiece" disabled={{isDeletePieceButtonDisabled}}>Delete</button>
    <br/>
    <select id="pieceList" disabled={{isPieceListDisabled}}>
        {{#each cursorOnPiecesForCurrentUser}}
            <option value={{_id}}>{{displayString}}</option>
        {{/each}}
    </select>
</template>

<template name="status">
    {{currentBeat}}
    {{#if isLoop}}
        <br/>
        Loop# {{loopCount}}
    {{/if}}
</template>
